* { /* applies properties to all elements */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { /* specify background color for body of webpage */
    background-color: #d9dcd6;
}

/* moved a and p to top of stylesheet for organization & flow */
a { /* this type selector sets properties for all a (anchor) elements */
    color: #ffffff; /* link text color */
    text-decoration: none;
}

p { /* this type selector sets properties for all p (paragraph) elements */
    font-size: 16px; /* paragraph text font size */
}

.header { /* header/nav bar properties including padding, fonts, text & bkgd colors */
    padding: 20px; /* sets padding associated with the box model */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c; /* color of the background in header */
    color: #ffffff; /* color of the text in header */
}

.header h1 { /* styles the h1 header (one per webpage) and sets the font size for "Horiseon" */
    display: inline-block; /* elements will be in the same line */
    font-size: 48px;
}

.header h1 .seo { /* slightly changes the color of the span "seo" in "Horiseon" */
    color: #d9dcd6;
}

/* deleted .header div as it no longer exists in html*/

/* renamed .header div ul to .header ul, combined .header div into this class */
.header ul {     /* sets properties for unordered list items (navigation menu) */
    list-style-type: none;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* removed div from class name as the div no longer exists */
.header ul li {     /* styles individual list items */
    display: inline-block; /* elements will be in the same line */
    margin-left: 25px;
}

.hero { /* identifies and styles the hero image - size, position, margins, etc. */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content { /* styles the main section */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*consolidated search-engine-optimization, online-reputation-management, and social-media-marketing classes into 
one class, "marketing-solutions", to use fewer lines*/
.marketing-solutions { /*styles each of the three sections in <main> */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*consolidated separate img classes for the three main sections into one to use fewer lines*/
.marketing-solutions img { /* styles images pertaining to each of the three sections in <main> */
    max-height: 200px;
}

.float-left { /*bias the SEO and social media mktg images to the left */
    float: left;
    margin-right: 25px;
}

.float-right { /* bias the online rep mgmt image to the right */
    float: right;
    margin-left: 25px;
}

/*consolidated separate h2 classes for the three main sections into one to use fewer lines*/
.marketing-solutions h2 { /* styles the headers for each section in <main>  */
    margin-bottom: 20px;
    font-size: 36px;
}

/* consolidated .benefit-lead/-brand/-cost color into .benefits as it was redundant and used more lines*/
.benefits {     /* stles everything in the aside */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

/* consolidated .benefit-lead/-brand/-cost h3 into .benefits h3 to use fewer lines*/
.benefits h3 {      /* styles headers in the aside */
    margin-bottom: 10px;
    text-align: center;
}

/* consolidated .benefit-lead/-brand/-cost img into .benefits img to use fewer lines*/
.benefits img {      /* styles headers in the aside */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* creates the margin needed to space the three sections appropriately*/
.benefits p {       
    margin-bottom: 32px
}

.footer { /* styles the footer */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* replaced h2 with h4 to follow header hierarchy update in html */
.footer h4 { /* specifies the font size for the h4 heading in the footer */
    font-size: 20px;
}
